.january {
    background-image: linear-gradient(to bottom, #feffff, #b8c4cc);
    /* background-image: url("../images/jan.jfif"); */
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    /* color: white; */
}

.february {
    background-image: linear-gradient(to bottom, #feffff, #b8c4cc);
    /* background-image: url("../images/feb.jfif"); */
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
}

.march {
    /* background-image: url("../images/march.jfif"); */
    background-image: linear-gradient(to bottom, #feffff, #b8c4cc);
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.april {
    background-image: linear-gradient(to bottom, #feffff, #b8c4cc);
    /* background-image: url("../images/april.jfif"); */
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.may {
    background-image: url("../images/may.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.june {
    background-image: url("../images/june.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.july {
    background-image: url("../images/july.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.august {
    background-image: url("../images/august.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    /* color: white; */
}

.september {
    background-image: url("../images/september.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.october {
    background-image: url("../images/october.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.november {
    background-image: url("../images/november.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.december {
    background-image: url("../images/december.jfif");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    font-weight: 500;
    color: white;
}

.bg {
    min-height: 750px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    /* or 'contain' */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom, #feffff, #b8c4cc); */
    /* background-image: linear-gradient(to bottom, #eefdff, #64560f); */
}

.bg_manager {
    min-height: 750px;
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    /* Fixed size, will cover the entire viewport */
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to bottom, #feffff, #b8c4cc); */
    /* background-image: linear-gradient(to bottom, #93e5fb, #3d0f64); */
}

.bg_executive {
    min-height: 750px;
    background-image: linear-gradient(to bottom, #feffff, #b8c4cc);
    /* background-image: linear-gradient(to bottom, #eefdff, #64560f); */
}

.menu {
    background-color: #4477CE;
    font-weight: 500;
    text-align: left;
}

.menu_executive {
    background-color: #4477CE;
    font-weight: 500;
    text-align: left;
}

.react-calendar {
    border: 0 !important;
}

.login_button {
    color: blue
}

.login_button:hover {
    color: green
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.menu_manager {
    background-color: #4477CE;
    font-weight: 500;
    text-align: left;
    color: white;
}
.upcoming_events{
    background-color: #80B9AD;
}
.logout:hover {
    color: red;
    font-weight: 500;
}

.upcomming_events {
    text-align: left;
    margin-top: 10px;
    background-color: #80BCBD;
    color: white;
    font-weight: 500;
}

.user_det {
    display: block;
    min-height: 35px;
}

.margin_top {
    margin-top: 20px;
}
.hr_score_card{
    padding-top: 20px;
    min-height: 280px;
}
.new_menu {
    font-weight: 400;
    text-align: left;
    color: white;
    max-width: 200px;
    min-height: 650px;
    background-color: #4477CE;
    border-radius: 0 30px 0 0;

}

.apply_for_menu {
    background-color: orange;
    font-weight: 400;
    text-align: left;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
}

.card_manager {
    /* background-image: linear-gradient(to bottom, #feffff, #b8c4cc); */
    background-color: transparent;
    width: 100%;
    border-radius: 0;
}

.card_new {
    font-weight: bolder;
    /* min-height: 700px; */
    color: white;
    background-color: rgb(134 133 177);
    width: 90%;
    border-radius: 0;
}

.card_executive {
    /* background-image: linear-gradient(to bottom, #feffff, #b8c4cc); */
    background-color: transparent;
    width: 100%;
    border-radius: 0;
}

.card {
    /* background-image: linear-gradient(to bottom, #feffff, #b8c4cc); */
    background-color: transparent;
    width: 100%;
    border-radius: 0;
}

.login_page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(150deg, #f3f7f9, #cebcdd);
}

.login_right {
    background-image: url("../images/hrms-removebg-preview.png");
    background-position: center;
    /* background-size: cover;  */
    background-size: 300px 200px;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.hrms_img {
    background-image: url("../images/images-removebg-preview.png");
    background-position: center;
    /* background-size: cover;  */
    background-size: 300px 200px;
    /* position: fixed; */
    top: 0;
    left: 0;
}

/* Custom Calendar Styles */
.custom-calendar .ant-picker-cell {
    padding: 4px;
    /* Adjust padding to make the calendar smaller */
}

.custom-calendar .ant-picker-content th {
    font-size: 12px;
    /* Adjust font size of the header */
}

.custom-calendar .ant-picker-cell-inner {
    font-size: 12px;
    /* Adjust font size of the dates */
}

.custom-calendar .events {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    /* Adjust font size of event text */
}

.custom-calendar .events li {
    margin-bottom: 5px;
}

.custom-calendar .event-text {
    display: none;
    /* Hide event text initially */
}

.custom-calendar .event-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 5px;
}

.custom-calendar .ant-picker-panel {
    background: transparent;
    width: 100%;
    height: 100%;
}

.custom-calendar .event-dot.holiday {
    background-color: green;
    /* Color for holidays */
}

.custom-calendar .event-dot.event {
    background-color: orange;
    /* Color for events */
}

.custom-calendar .ant-picker-cell:hover .event-text {
    display: inline;
    /* Show event text on hover */
}
.attendance_data{
    margin-top: 30px;
    border: 2px solid grey;
    min-height: 40px;
    border-radius: 20px;
    vertical-align: middle;
}
.orange_calendar{
    color: orange;
    font-weight: 500;
}
.green_calendar{
    color: green;
    font-weight: 500;
}
.red_calendar{
    color: maroon;
    font-weight: 500;
}
.blue_calendar{
    color: blue;
    font-weight: 500;
}
.violet_calendar{
    color: violet;
    font-weight: 500;
}
.violet {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: violet;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}
.green {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: green;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}

.red {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: maroon;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}

.blue {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: blue;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}

.brown {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: brown;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}

.orange {
    display: inline-block;
    width: 6px;
    /* Adjust the size as needed */
    height: 6px;
    /* Adjust the size as needed */
    background-color: orange;
    /* Green color */
    border-radius: 50%;
    /* Make it circular */
    margin-right: 5px;
    /* Space between the dot and text */
}