.change_password_container {
    height: 100vh;
    background-color: #F5F7F8;
}

.change_password_container_form {
    padding: 5px 10px 0 10px;

    .common_title {
        font-size: 18px;
        text-align: start;
        color: #333;
    }

    /* margin-top: 50px; */
}