.login_page {

    @media only screen and (min-width: 700px) {
        background-image: linear-gradient(150deg, #f3f7f9, #cebcdd);

        .login_page_main_titile {
            left: 20px;
            top: 10px;
            position: absolute;
            font-size: 20px;
            font-weight: 600;
        }

        .login_page_wraper {
            width: 1000px;
            height: 80vh;
            top: 10vh;
            position: relative;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            border-radius: 10px;
            overflow: hidden;
            background: #FFF;

            .login_page_wraper_right {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .login_page_wraper_form_title {
                    font-size: 16px;
                    margin-bottom: 20px !important;
                    font-weight: 600;
                    /* color: var(--primary); */
                }

            }

            .login_page_wraper_left {
                background-image: url("../../images/logo.png");
                background-color: rgb(28, 52, 68);;
                background-size: contain;
                /* Scale the image to be as large as possible without stretching */
                background-position: center;
                /* Center the image within the box */
                background-repeat: no-repeat;
                /* background: var(--primary); */
                display: flex;
                align-items: center;
                justify-content: center;

                .login_page_wraper_left_logo {
                    margin: 0 auto;

                }

            }
        }
    }

    @media screen and (min-width: 400px) and (max-width: 991px) {

        .login_page_main_titile {
            left: 20px;
            top: 10px;
            position: absolute;
            font-size: 20px;
            font-weight: 600;

        }

        .login_page_wraper {
            width: 1000px;
            height: 80vh;
            top: 10vh;
            position: relative;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            border-radius: 10px;
            overflow: hidden;
            background: #FFF;

            .login_page_wraper_left {
                display: none;
            }

            .login_page_wraper_right {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 40%;

                .login_page_wraper_form_title {
                    font-size: 16px;
                    margin-bottom: 20px !important;
                    font-weight: 600;
                    /* color: var(--primary); */
                }
            }
        }
    }

    @media screen and (max-width: 767px) {

        .login_page_main_titile {
            left: 20px;
            top: 10px;
            position: absolute;
            font-size: 20px;
            font-weight: 600;

        }

        .login_page_wraper {
            width: 1000px;
            height: 80vh;
            top: 10vh;
            position: relative;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            border-radius: 10px;
            overflow: hidden;
            background: #FFF;

            .login_page_wraper_left {
                display: none;
            }

            .login_page_wraper_right {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 35%;

                .login_page_wraper_form_title {
                    font-size: 16px;
                    margin-bottom: 20px !important;
                    font-weight: 600;
                    color: var(--primary);
                }
            }
        }
    }


}