@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");

.App {
  text-align: center;
}

:root {
  --primary: #365486;
  /* --transition: 200ms ease;
  --secondary: #1e1666; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  /* Define styles for extra small screens (phones) */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Define styles for small screens (tablets) */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Define styles for medium screens (small laptops) */
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /* Define styles for large screens (standard laptops) */
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  /* Define styles for extra large screens (desktops) */
}

@media screen and (min-width: 1920px) {
  /* Define styles for extra extra large screens (larger desktops) */
}